.roomContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.chatContainer {
    position: relative;
    border-radius: 5px;
    background-color: #8cb987;
    width: 90vw;
    max-width: 800px;
    flex-direction: column;
    max-height: 80vh;
    min-height: 500px;
}

.chatHeader {
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.chatContent {
    max-height: calc(100% - 105px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: auto;
}

.inputContainer {
    position: absolute;
    width: 100%;
    padding: 10px;
    left: 0;
    bottom: 0;
    gap: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.inputContainer > button {
    width: max-content;
}