.roomContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.chatContainer {
    position: relative;
    border-radius: 5px;
    background-color: #8cb987;
    width: 90vw;
    max-width: 800px;
    flex-direction: column;
    max-height: 80vh;
    min-height: 500px;
}

.chatHeader {
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.chatHeaderUserContainer {
    display: flex;
    align-items: center;
}

.chatHeaderUserContainer > * {
    margin-left: -10px;
}

.chatContent {
    max-height: calc(100% - 105px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chatContent::-webkit-scrollbar {
    display: none;
}

