.roomContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.chatContainer {
    position: relative;
    border-radius: 5px;
    background-color: #8cb987;
    width: 90vw;
    max-width: 800px;
    flex-direction: column;
    max-height: 80vh;
    min-height: 500px;
}

.chatHeader {
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.chatContent {
    max-height: calc(100% - 105px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chatContent::-webkit-scrollbar {
    display: none;
}

.inputContainer {
    position: absolute;
    width: 100%;
    padding: 10px;
    left: 0;
    bottom: 0;
    gap: 5px;
    background-color: #578d51;
    box-sizing: border-box;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;

}

.inputContainer > span {
    display: flex;
    gap: 4px;
}

.inputContainer > span > p {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.inputContainer > span > div {
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}

.inputContainer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.inputContainer button {
    width: max-content;
}