.messageRowContainer {
    position: relative;
}

.messageContainer {
    position: relative;
    padding: var(--size-xs);
    margin-left: var(--size-xxxl);
    width: max-content;
    min-width: 20%;
    max-width: 60%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    background-color: var(--color-accent-300);
    border-radius: var(--border-size-l);
    word-wrap: anywhere;
}

.messageContainer.myMessage {
    margin-left: auto;
    margin-right: var(--size-xxxl);

    background-color: var(--color-accent-400);
}

.messageHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: var(--size-xxs);
}

.messageReplyMessageContainer {
    margin-bottom: 2px;
    margin-top: 2px;
    padding-left: 8px;
    position: relative;

    display: flex;
    gap: var(--size-xxs);
    align-items: center;
    overflow: hidden;
}

.messageReplyMessageContainer:after {
    position: absolute;
    display: block;
    content: "";
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent 80%, var(--color-accent-300) 100%);
}

.myMessage .messageReplyMessageContainer:after {
    background: linear-gradient(90deg, transparent 80%, var(--color-accent-400) 100%);
}

.messageReplyMessageContainer * {
    white-space: nowrap !important;
    text-overflow: ellipsis;
}

.messageReplyMessageContainer:before {
    position: absolute;
    display: block;
    left: 0;
    width: 4px;
    height: 100%;

    content: "";
    border-radius: 2px;
    background-color: var(--color-accent-100);
}

.messageReplyMessageImage {
    width: var(--size-xxl);
    height: var(--size-xxl);
    aspect-ratio: 1 / 1;
}

.messageReplyMessageImage img {
    width: var(--size-xxl);
    height: var(--size-xxl);
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.messageRowAvatarContainer {
    position: absolute;
    top: 0;
    left: var(--size-xs);
}

.messageRowAvatarContainer.myAvatarContainer {
    left: unset;
    right: var(--size-xs);
}

.messageMediaDataItem {
    display: block;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;

    object-fit: cover;
    object-position: center;
    border-radius: var(--size-xxs);
}

.messageMediaDataContainer {
    overflow: hidden;
    margin-top: var(--size-xxs);
    margin-bottom: var(--size-xxs);

    display: grid;
    gap: var(--size-xxs);
    grid-template-rows: repeat(auto-fill, 1fr);
}

.messageMediaDataContainer[data-items="1"] {
    grid-template-columns: 1fr;
}

.messageMediaDataContainer[data-items="2"] {
    grid-template-columns: 1fr 1fr;
}

.messageMediaDataContainer[data-items="3"] {
    grid-template-rows: 1.5fr auto;
    grid-template-columns: 1fr 1fr;
}

.messageMediaDataContainer[data-items="3"] > img:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
}

.messageMediaDataContainer[data-items="4"] {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.messageMediaDataContainer[data-items="5"] {
    grid-template-rows: 1.5fr auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.messageMediaDataContainer[data-items="5"] > img:first-child {
    grid-column-start: 1;
    grid-column-end: 5;
}
