.messageRowContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #effdde;
    width: max-content;
    border-radius: 10px;
    margin-left: 50px;
    min-width: 20%;
    max-width: 60%;
    word-wrap: anywhere;
}

.myMessage {
    margin-left: auto;
    align-self: end;
    background-color: #fff;
    margin-right: 50px;
}

.messageHeader {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 5px;
}

.replyText * {
    text-decoration: underline;
    cursor: pointer;
}

.reply {
    margin-left: 8px;
    position: relative;
}
.reply * {
    font-size: 14px;
}

.reply:before {
    left: -8px;
    position: absolute;
    display: block;
    content: "";
    width: 4px;
    height: 100%;
    background-color: #61dafb;
}
.messageContainer {
    position: relative;
}

.avatarContainer {
    position: absolute;
    top: 0;
    left: 10px;
}

.right {
    left: unset;
    right: 10px;
}

.contextMenu {
    width: 120px;
    height: 60px;
    background-color: black;
    position: absolute;
}