.loginContainer {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    padding: var(--size-m);
    width: 90vw;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-accent-500);
    border-radius: var(--border-size-l);
}

.loginForm form {
    width: 90%;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--size-xs);
}

.loginHeader {
    margin-top: 0;
}

.loginInput, .loginInput * {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
