.inputContainer {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: var(--size-xxs);
}

.input {
    width: 100%;
    height: var(--size-xxl);
    box-sizing: border-box;
    padding: var(--size-xxs);

    background-color: var(--color-accent-200);
    color: var(--color-secondary-1000);
    border-radius: var(--border-size-m);
    border: none;
    outline: none;
    font-family: var(--content-font-family);
    font-size: var(--font-size-m);

    transition: var(--transition-duration-m) background-color;
}

.input:focus-visible {
    background-color: var(--color-accent-300);
}
