.textareaContainer {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: var(--size-xxs);
}

.textarea {
    resize: vertical;
    width: 100%;
    max-height: 100px;
    height: var(--size-xxl);
    min-height: var(--size-xxl);
    padding: 6px;

    background-color: var(--color-accent-200);
    color: var(--color-secondary-1000);
    box-sizing: border-box;
    border-radius: var(--border-size-m);
    border: none;
    outline: none;
    font-family: var(--content-font-family);
    font-size: var(--font-size-m);

    transition: var(--transition-duration-m) background-color;
}

.textarea:focus-visible {
    background-color: var(--color-accent-300);
}

.textarea::placeholder {
    color: var(--color-accent-700)
}