.avatar {
    width: var(--size-xl);
    height: var(--size-xl);
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.letter {
    font-family: var(--content-font-family);
    font-size: var(--font-size-m);

    line-height: 1;
    margin: 0;
}

.avatarList {
    display: flex;
    align-items: center;
}

.avatarList > * {
    margin-left: calc(-1 * var(--size-xs));
}

