.authHeader {
    max-width: var(--size-max-content-width);
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authHeaderUserBlock {
    display: flex;
    gap: var(--size-xxs);
    align-items: center;
}

.exitButtonContainer {
    cursor: pointer;
    display: block;
    width: var(--size-xl);
    height: var(--size-m);

    transition: var(--transition-duration-m) transform;
}

.exitButtonContainer > svg {
    height: var(--size-m);
}

.exitButtonContainer:hover {
    transform: rotateY(30deg);
}