.authHeader {
    max-width: var(--size-max-content-width);
    width: 90vw;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 512px) {
    .authHeader {
        width: 100vw;
        padding-left: var(--size-xs);
        padding-right: var(--size-xs);
    }
}

.authHeaderUserBlock {
    display: flex;
    gap: var(--size-xxs);
    align-items: center;
}

.exitButtonContainer {
    cursor: pointer;
    display: block;
    width: var(--size-xl);
    height: var(--size-m);

    transition: var(--transition-duration-m) transform;
}

.exitButtonContainer > svg {
    height: var(--size-m);
}

.exitButtonContainer:hover {
    transform: rotateY(30deg);
}