.header {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userContainer {
    display: flex;
    gap: 5px;
    align-items: center;
}

.exit {
    cursor: pointer;
    height: 20px;
    display: block;
    width: 30px;
    transition: .3s all;
}

.exit > svg {
    height: 20px;
}

.exit:hover {
    transform: rotateY(30deg);
}