.button {
    cursor: pointer;
    width: 100%;
    height: var(--size-xxl);

    font-family: var(--content-font-family);
    font-size: var(--font-size-m);
    border: none;
    outline: none;
    border-radius: var(--border-size-m);
    color: var(--color-secondary-1000);
}