.dateRowContainer {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: var(--size-xs);
    width: max-content;

    background-color: var(--color-accent-300);
    border-radius: var(--border-size-l);
}