.dateRow {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--color-accent-300);
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}