@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Roboto&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-dominant: #FFFFFF;
  --color-secondary-1000: #000000;
  --color-secondary-800: #999999;
  --color-secondary-100: #EEEEEE;
  --color-accent-700: #578D51;
  --color-accent-500: #8CB987;
  --color-accent-400: #45F248;
  --color-accent-300: #EFFDDE;
  --color-accent-200: #DFFFE0;
  --color-link-500: #5196BA;
  --color-link-300: #61DAFB;
}